.smallLogo-wrapper {
    border-bottom: solid rgb(157, 155, 155);
    border-bottom-width: 2px;
    display: flex;
    position: relative;

    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    padding-left: -4px;
    height: 4rem;
    /* padding: 1rem; */
}
.left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-search-container {
    /* border: solid red; */
    border: solid 0.02rem;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 9999px;
    padding-left: 7px;
    gap: 0.6rem;
    height: 2.6rem;
    width: 20rem;
}

.info-searchInput {
    border-style: none;
    outline: 2;
    /* background-image: none; */
    /* background-color: red; */
    width: 90%;
    height: 80%;
    /* background: none;
    border-style: none;
    width: 100%; */
}
.right {
    display: flex;
    gap: 3rem;
    font-size: x-large;
    padding-right: 4rem;
}

.smallLogo-container img {
    object-fit: cover;
    height: 100px;
    width: 110px;
    margin-top: 0px;
    margin-right: 6px;
    cursor: pointer;
}
