.sidebar {
    animation: openSideBar 200ms ease-in;

    background: white;
    width: 26rem;
    height: 100vh;
    padding: 1rem;

    left: 0;

    overflow-y: scroll;
    overflow: scroll;
    top: 4.5rem;
    left: 91rem;
    position: absolute;
}

.removeSide {
    background: linear-gradient(to left, #b3b3b3, #fff);
    width: 20rem;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    left: 0;
    animation: removeSideBar 200ms ease-in;
}

.sidebar_cover {
    position: relative;
}
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
h1 {
    font-size: 32px;
    color: black;
    margin: 0;
}
ul {
    padding: 0;
}

.logout.active {
    background-color: #367bee;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #367bee;
    color: white;
    cursor: pointer;
}

@keyframes openSideBar {
    0% {
        right: -20rem;
    }
    100% {
        right: 0rem;
    }
}

@keyframes removeSideBar {
    0% {
        right: 20rem;
    }
    100% {
        right: 0rem;
    }
}

.two-icons {
    display: flex;
    margin-top: 1rem;

    font-size: 42px;
}
.like-icon {
    position: relative;
    margin: 20px;
    width: 40px;
    height: 70px;
    line-height: 84px;
    margin-right: 1rem;
    cursor: pointer;
}

.like-icon:hover {
    transform: scale(1.3);
}
.likes-number {
    /* position: absolute; */
    position: relative;

    margin-top: -2rem;
    font-size: 20px;
}
.icon-comment {
    cursor: pointer;
    margin: 15px;
    margin-top: 24px;
    width: 70px;
    height: 70px;
    line-height: 84px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    /* color: #fff; */
    background-color: rgba(255, 255, 255, 0.1);
    transition: 200ms;
}

.icon-comment:hover {
    transform: scale(1.3);
}

.comment-update button {
    border: none;

    background-color: green;
    color: white;
    font-weight: 900;

    padding: 0.4rem;
}

.delete-comment button {
    border: none;

    background-color: red;
    color: white;
    font-weight: 900;

    padding: 0.4rem;
}
.button-containers {
    display: flex;
    justify-content: flex-end;
}
