.wrapper-article {
    /* border: solid red; */
    border-right: solid #787878;
    display: flex;
    /* flex: 1 1 0%; */
    width: 900px;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-left-width: 1px;
    /* margin-top: 150px; */
}

.content-article {
    overflow: scroll;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}
.header-container-article {
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;
    margin-bottom: 1.2rem;
}
.author-container-article {
    /* border: solid green; */
    display: flex;
    gap: 1rem;
}
.author-image-container-article {
    /* border: solid yellow; */
    height: 5rem;
    width: 5rem;
    display: grid;
    overflow: hidden;
    border-radius: 9999px;
}

.author-image-article {
    /* border: red; */
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.column-article {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.post-details-article {
    /* border: solid pink; */
    margin-top: 5px;
    /* display: flex; */
    gap: 0.6rem;
    color: #787878;
}

.listen-button-article {
    /* border: solid green; */
    /* display: flex; */
    align-items: center;
    color: #1a8917;
}

.socials-article {
    display: flex;
    gap: 1rem;
    color: #787878;
}

.space-article {
    width: 0.5rem;
}

.main-container-article {
    display: flex;
    gap: 1rem;
}

.banner-container-article {
    height: 18rem;
    display: grid;
    overflow: hidden;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
}

.image-main-article {
    /* border: solid red; */
    /* height: 100px;
    width: 100px; */
    width: 100%;
    height: 100%;
    /* margin-bottom: -20px; */
    object-fit: fill;
}

.title-main {
    font: bold;
    font-size: 2.875rem;
    line-height: 2.25rem;
}

.subtitle-main {
    font-size: 1.4rem;
    color: #292929;
}

.body-article-main {
    font-size: 1.4rem;
    color: #292929;
}
