.wrapper-home {
    display: flex;
    width: 50rem;
    height: 12rem;
    padding-left: 200px;
    align-items: center;
    gap: 1rem;
}
.post-details {
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    width: 38rem;
    padding-left: 2px;
}
.author-container {
    display: flex;
    gap: 0.2rem;
}
.author-image-container {
    display: grid;
    overflow: hidden;
    place-items: center;
    border-radius: 1999px;
    height: 3rem;
    width: 3rem;
}
.author-image {
    background-color: white;
    object-fit: cover;
    margin-top: -1px;
    height: 50px;
    width: 50px;
}
.author-name {
    font-weight: 600;
    margin-top: 15px;
}

/* .title-home {
    font: bold;
    font-weight: 700;
} */
.briefing {
    color: #787878;
}

.details-container {
    color: #787878;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-details {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.category {
    padding: 0.25rem;
    border-radius: 9999px;
    background: #f2f3f2;
}

.thumbnail-image {
}

.thumbnail-image img {
    /* border: solid red; */
    width: 215px;
    height: 186px;
}

.card-title-brief {
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .wrapper-home {
        padding-left: 0;
    }
}
